<section class ="section">
  <div class="container">
    <div class="columns"> 
        <%= render 'categories_form'%>
        <%= render 'movies' %>
        <%= paginate @movies %>
    </div>
  </div>
</section>