<div class="row"> 
      <div class="col">
          <span></span>
          <br>
          <%= render 'categories_form'%>
      </div>
      <div class="col-9">
        <div class="title-container">
              <br>
              <h1>Movies</h1>
              <br>
        </div>
      </div>
      <div class="col">
          <span></span>
      </div>
</div>
     
  <div class="container">
      <%= render 'movies' %>
  </div>
  
  <div class="row"> 
      <div class="col">
          <span></span>
      </div>
      <div class="col-9">
        <%= paginate @movies %>
      </div>
      <div class="col">
          <span></span>
      </div>
</div>