<div class="row"> 
      <div class="col">
          <span></span>
      </div>
      <div class="col-9">
        <div class="title-container">
              <br>
              <h1>Watchlist</h1>
              <br>
        </div>
      </div>
      <div class="col">
          <span></span>
      </div>
</div>
     
  <div class="container">
      <%= render 'watchlist_movies' %>
  </div>
  
  <div class="row"> 
      <div class="col">
          <span></span>
      </div>
      <div class="col">
          <span></span>
      </div>
</div>