<br>
<div class="row"> 
      <div class="col">
          <span></span>
          <br>
          <%# render 'movies/categories_form'%>
      </div>
      <div class="col-9">
        <div class="title-container">
              <h1><%=@category.name%> movies </h1>
        </div>
      </div>
      <div class="col">
          <span></span>
      </div>
</div>
<br>
  <div class="container">
      <%= render 'category' %>
  </div>
  
  <div class="row"> 
      <div class="col">
          <span></span>
      </div>
      <div class="col-9">
        <%= paginate @category_movies %>
      </div>
      <div class="col">
          <span></span>
      </div>
</div>





